<div class="box box-primary" style="margin: 0;padding-top:10px;padding-bottom: 40px;padding-right: 10px ;padding-left: 10px ;">
    <div class="box-header with-border">
        <h3 class="box-title">新增商品</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <div class="box-body" style="padding-right: 20px;">
        <div class="input-group" style="margin-bottom: 5px;" >
            <span class="input-group-addon">名称</span>
            <input type="email" class="form-control" id="name" placeholder="名称"/>
        </div>
        <div class="input-group"  style="margin-bottom: 5px;" >
            <span class="input-group-addon">条形码</span>
            <input type="email" class="form-control" id="linecode" placeholder="条形码"/>
        </div>
        <div class="input-group" style="margin-bottom: 5px;" >
            <span class="input-group-addon">属性</span>
            <input type="email" class="form-control" id="property" placeholder="属性"/>
        </div>
        <div class="input-group" style="margin-bottom: 5px;" >
            <span class="input-group-addon">类别</span>
            <input type="email" class="form-control" id="cat" placeholder="类别"/>
        </div>
        <div class="form-group" style="margin-bottom: 5px;" >
            <label >组图</label>
            <bs-upload code="124321431"></bs-upload>
        </div>
    </div>
    <!-- /.box-body -->

    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>