<div class="box box-primary"
     style="margin: 0;padding-top:10px;padding-bottom: 40px;padding-right: 10px ;padding-left: 10px ;">
    <div class="box-header with-border">
        <h3 class="box-title">调拨单详情</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <div class="box-body" style="padding-right: 20px;">
        <table class="tableshow">
            <tr>
                <td>时间</td>
                <td>{{alloc.allocationorder_date}}</td>
            </tr>
            <tr>
                <td>单号</td>
                <td>{{alloc.allocationorder_number}}</td>
            </tr>
            <tr>
                <td>负责人</td>
                <td>{{alloc.user_name}}</td>
            </tr>
            <tr>
                <td>出库仓库</td>
                <td>{{alloc.outwarehouse_number}}</td>
            </tr>
            <tr>
                <td>入库仓库</td>
                <td>{{alloc.inwarehouse_number}}</td>
            </tr>
            <tr>
                <td>商品</td>
                <td>{{alloc.product_name}}</td>
            </tr>
            <tr>
                <td>数量</td>
                <td>{{alloc.allocationorderdetail_count}}</td>
            </tr>
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <a type="submit" class="btn btn-default" href="#/inout/list/1">返回</a>
    </div>
</div>