<div class="box box-primary"
     style="margin: 0;padding-top:10px;padding-bottom: 40px;padding-right: 10px ;padding-left: 10px ;">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">调拨单查询</h3>

            <a type="submit" name="submit" style="height: 20px;margin:0;margin-left:20px;padding:1px 8px;"
               href="#/good-manage/new" class="btn btn-success btn-flat">
                <i class="fa fa-plus"></i>新增
            </a>

            <div class="box-tools">
                <a href="" class="btn btn-default pull-right" ng-click="all()">全部</a>
            </div>

        </div>
        <!-- /.box-header -->
        <div class="row">
            <div class="col-md-2">起始日期：
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="dt.start"
                           is-open="popup1.opened" datepicker-options="dateOptions1" ng-required="true"
                           close-text="Close" alt-input-formats="altInputFormats"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
                </p>
            </div>

            <div class="col-md-2">结束日期：
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                           ng-model="dt.end" is-open="popup2.opened"
                           datepicker-options="dateOptions2" ng-required="true" close-text="Close"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
                </p>
            </div>
            <div class="col-md-2">按日期搜索
                <p class="input-group">
                      <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="search2()"><i
                    class="glyphicon glyphicon-search"></i></button></span>
                </p>
            </div>

            <div class="col-md-6">
                <p style="text-align: center;margin-bottom:0;height: 22px;"></p>

                <p>
                    <bs-search class="pull-right" search="field:value" template="customTemplate.html"></bs-search>
                </p>
            </div>
        </div>
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <th>时间</th>
                    <th>单号</th>
                    <th>仓库负责人</th>
                    <th>入库仓库</th>
                    <th>出库仓库</th>
                    <th>操作</th>
                </tr>
                <tr ng-repeat="item in list">
                    <td ng-bind="item.allocationorder_date"></td>
                    <td ng-bind="item.allocationorder_number"></td>
                    <td  ng-bind="item.user_name"></td>
                    <td ng-bind="item.inwarehouse_number"></td>
                    <td ng-bind="item.outwarehouse_number"></td>
                    <td><a href="#/inout/detail/{{item.allocationorder_id}}"><i class="fa fa-edit"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
        <!-- /.box-body -->
        <div class="box-footer clearfix no-border">
            <bs-pagination></bs-pagination>
        </div>
    </div>
</div>
<script type="text/ng-template" id="customTemplate.html">
    <a>
        <span>{{match.model.flag}}</span>
        <span ng-bind-html="match.model.value | uibTypeaheadHighlight:query"></span>
    </a>
</script>