<div class="box box-primary"
     style="margin: 0;padding-top:10px;padding-bottom: 40px;padding-right: 10px ;padding-left: 10px ;">
    <div class="box-header with-border">
        <h3 class="box-title">个人信息</h3>
        <a class="btn btn-warning btn-small pull-right" href="#/user/change">修改密码</a>
        <button class="btn btn-default btn-small pull-right" ng-click="editToggle()">修改信息</button>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <strong><i class="fa fa-registered   margin-r-5"></i> 工号</strong>

        <p class="text-muted">
            <span>{{user.user_number}}</span>
        </p>

        <hr>
        <strong><i class="fa fa-user  margin-r-5"></i> 姓名</strong>

        <p class="text-muted">
            <span>{{user.user_name}}</span>
        </p>

        <hr>
        <strong><i class="fa fa-book margin-r-5"></i> 部门</strong>

        <p class="text-muted">
            <span>{{user.user_department}}</span>
        </p>

        <hr>
        <strong><i class="fa fa-mobile-phone margin-r-5"></i> 手机号</strong>

        <p class="text-muted">
            <span ng-if="!edit">{{user.user_phone}}</span><input ng-if="edit" type="text" ng-model="info.user_phone"/>
        </p>

        <hr>

        <strong><i class="fa fa-vimeo margin-r-5" ng-class="{'text-orange':'user.user_role==0','text-aqua':'user.user_role==1','text-primary':'user.user_role==2'}"></i> 角色</strong>

        <p class="text-muted">
            <span>{{role[user.user_role]}}</span>
        </p>


        <hr>
        <a type="button" ng-if="edit" class="btn btn-default" href="" ng-click="editToggle()">取消</a>
        <button ng-if="edit" type="button" class="btn btn-primary" ng-click="save()">保存</button>
    </div>
    <!-- /.box-body -->
</div>
