<div class="box box-primary"
     style="margin: 0;padding-top:10px;padding-bottom: 40px;padding-right: 10px ;padding-left: 10px ;">
    <div class="box-header with-border">
        <h3 class="box-title">商品: {{data.product_name}}</h3>
    </div>
    <div class="box-body box-profile" style="padding: 10px;border:1px solid rgba(128, 128, 128, 0.26);">
        <div class="row" ng-if="slides" style="min-height: 100px;">
            <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                    <img ng-src="{{slide.image}}" style="margin:auto;">

                    <div class="carousel-caption">
                    </div>
                </uib-slide>
            </uib-carousel>
        </div>
    </div>
    <div style="padding: 10px;">
        <div>
            剩余：{{data.count}}
        </div>
        <div style="margin-top:5px;">数量：
            <a ng-click="minus()" style="height: 26px;width: 10px; margin: 0;"
               class="btn btn-smamll btn-default">-</a>
            <input type="text"
                   style="width: 60px;"
                   ng-model="data.amount"
                   autocomplete="off">
            <a ng-click="add()" style="height: 26px;width: 10px; margin: 0;"
               class="btn btn-smamll btn-default">+</a>
        </div>
        <div style="position: relative;">
            <a href="" ng-click="addToCart()" class="btn btn-primary"
               style="position: absolute;top:-20px;;right: 20px;"><b>领取该商品</b></a>
        </div>
    </div>
    <table style="width: 100%;margin-top: 20px;">
        <tr ng-repeat="item in pro" style="border: 1px solid gainsboro">
            <td ng-bind="item.title" style="width:25%;border-right: 1px solid gainsboro;text-align: right"></td>
            <td ng-bind="item.value" style="text-align:center;width: 84%"></td>
        </tr>
    </table>
    <bs-barcode code="data.product_barcode"></bs-barcode>
</div>
