<div class="box box-primary" style="padding: 10px;border:1px solid rgba(128, 128, 128, 0.26);margin-bottom: 0px">

    <div class="box-header ui-sortable-handle" style="cursor: move;">
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                     领取清单详情
                    <small class="pull-right"> <i class="fa fa-clock-o"></i>
                        {{data.receiveorder_date|timeformat}}</small>
                </h2>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-6">
                <div class="table-responsive">
                    <table class="table">
                        <tbody><tr>
                            <th style="width:50%">单号:</th>
                            <td ng-bind="data.receiveorder_number"></td>
                        </tr>
                        <tr>
                            <th>申请人</th>
                            <td ng-bind="data.receiveuser_name"></td>
                        </tr>
                        <tr>
                            <th>状态</th>
                            <td > <span class="label  {{stateColor[data.receiveorder_state]}}">{{stateText[data.receiveorder_state]}}</span></td>
                        </tr>
                        <tr>
                            <th>产品:</th>
                            <td ><a ng-bind="data.product_name" href="#/good/detail/{{data.product_id}}"></a></td>
                        </tr>
                        <tr>
                            <th>产品图片:</th>
                            <td><img style="max-width:500px;" ng-src="{{data.product_photo}}"/></td>
                        </tr>
                        <tr>
                            <th>Total:</th>
                            <td ng-bind="data.receiveproduct_count"></td>
                        </tr>
                        <tr>
                            <th>仓库:</th>
                            <td ng-bind="data.warehouse_number"></td>
                        </tr>
                        <tr ng-if="data.auditor_name">
                            <th>经手人</th>
                            <td ng-bind="data.auditor_name"></td>
                        </tr>
                        </tbody></table>
                </div>
            </div>
            <!-- /.col -->
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix no-border">

    </div>
</div>

