<div class="box box-primary" style="padding: 10px;border:1px solid rgba(128, 128, 128, 0.26);margin-bottom: 0px">

    <div class="box-header ui-sortable-handle" style="cursor: move;">
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                     清单详情
                    <small class="pull-right">Date: 2/10/2014</small>
                </h2>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-6">
                <div class="table-responsive">
                    <table class="table">
                        <tbody><tr>
                            <th style="width:50%">单号:</th>
                            <td>$250.30</td>
                        </tr>
                        <tr>
                            <th>状态</th>
                            <td>$10.34</td>
                        </tr>
                        <tr>
                            <th>经手人</th>
                            <td>$5.80</td>
                        </tr>
                        <tr>
                            <th>Total:</th>
                            <td>$265.24</td>
                        </tr>
                        </tbody></table>
                </div>
            </div>
            <!-- /.col -->
        </div>


    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix no-border">

    </div>
</div>

