<div style="margin: 0 20px;padding-top:10px;padding-bottom: 40px;">
    <div class="input-group">
        <!--<input type="text" name="search" class="form-control" ng-model="data.search" placeholder="Search">-->
        <input type="text" ng-model="data.search" placeholder="search" uib-typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
        <div class="input-group-btn">
            <button type="submit" name="submit" ng-click="search()" class="btn btn-warning btn-flat"><i class="fa fa-search"></i>
            </button>
        </div>
    </div>
    <div class="box-header with-border">
        <h3 class="box-title">商品列表</h3>
    </div>
    <div class="box-body">
        <div class="row margin-bottom">
            <div class="col-sm-3 col-md-3 col-lg-3" ng-repeat="item in list">
                <div class="box-body box-profile" style="padding: 2px;border:1px solid rgba(128, 128, 128, 0.26);">
                    <img class="img-responsive "  src="style/img/photo3.jpg" alt="User profile picture">
                    <ul class="list-group list-group-unbordered" style="margin: 0">
                        <li class="list-group-item">
                            <b>名称</b> <a class="pull-right" ng-bind="item.name" style="margin: 1px;"></a>
                        </li>
                        <li class="list-group-item">
                            <b>库存</b> <a class="pull-right" ng-bind="item.remain" style="margin: 1px;"></a>
                        </li>
                        <li class="list-group-item">
                            <b>仓库</b> <a class="pull-right"  ng-bind="item.repo" style="margin: 1px;"></a>
                        </li>
                    </ul>
                    <a href="#/good/detail/{{item.id}}" class="btn btn-primary btn-block"><b>详情</b></a>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <bs-pagination></bs-pagination>
    </div>
</div>