<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">菜单</li>
            <li class="treeview" ng-repeat="item in menu">
                <a href="item.href">
                    <i class="fa fa-files-o"></i><span ng-bind="item.name"></span><i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li ng-repeat="x in item.subMenu">
                        <a href="#/{{x.href}}"> <i class="fa fa-circle-o"></i>{{x.name}}</a>
                </ul>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>