<div class="box box-primary"
     style="margin: 0;padding-top:10px;padding-bottom: 40px;padding-right: 10px ;padding-left: 10px ;">
    <div class="box-header with-border">
        <h3 class="box-title">订单审核详情</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <div class="box-body" style="padding-right: 20px;">
        <table class="tableshow">
            <tr>
                <td>时间</td>
                <td>{{order.order_date}}</td>
            </tr>
            <tr>
                <td>单号</td>
                <td>{{order.order_number}}</td>
            </tr>
            <tr>
                <td>采购负责人</td>
                <td>{{order.purchaser_name}}</td>
            </tr>
            <tr>
                <td>供应商</td>
                <td>{{order.outwarehouse_number}}</td>
            </tr>
            <tr>
                <td>商品</td>
                <td>{{order.product_name}}</td>
            </tr>
            <tr>
                <td>数量</td>
                <td>{{order.allocationorderdetail_count}}</td>
            </tr>
            <tr>
                <td>状态</td>
                <td><span
                        class="label  {{stateColor[order.order_state]}}">{{stateText[order.order_state]}}</span></td>
            </tr>
            <tr ng-if="order.auditor_name">
                <td>审核人</td>
                <td>{{order.auditor_name}}</td>
            </tr>
            <tr ng-if="order.review_time">
                <td>审核时间</td>
                <td>{{order.review_time}}</td>
            </tr>
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <a type="submit" class="btn btn-default" href="#/check/order-list/1">返回</a>
        <a type="submit" ng-if="order.order_state==0" class="btn btn-danger" href="" ng-click="reject()">不通过</a>
        <a type="submit" ng-if="order.order_state==0" class="btn btn-success" href="" ng-click="pass()">审核通过</a>
    </div>
</div>