<div class="box box-primary"
     style="margin: 0;padding-top:10px;padding-bottom: 40px;padding-right: 10px ;padding-left: 10px ;">
    <div class="box-header with-border">
        <h3 class="box-title">仓库修改</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <div class="box-body" style="padding-right: 20px;">
        <div class="input-group" style="margin-bottom: 5px;">
            <span class="input-group-addon">仓库名</span>
            <input type="text" ng-model="hub.warehouse_number" class="form-control" id="name" placeholder="必填*|仓库名"/>
        </div>
        <div class="input-group" style="margin-bottom: 5px;">
            <span class="input-group-addon">地址</span>
            <input type="text" ng-model="hub.warehouse_address" class="form-control" id="address" placeholder="必填*|地址"/>
        </div>
        <div class="input-group" style="margin-bottom: 5px;">
            <span class="input-group-addon">最大容量</span>
            <input type="number" ng-model="hub.warehouse_maxcount" class="form-control" id="phone"
                   placeholder="必填*|最大容量"/>
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <a class="btn btn-default" href="#/hub/list/1">返回</a>
        <button type="submit" ng-disabled="!hub.warehouse_number||!hub.warehouse_address||!hub.warehouse_maxcount"
                class="btn btn-primary" ng-click="submit()">提交
        </button>
    </div>
</div>